/*
NoMethodError: undefined method `specificity' for [:not(.button)]:Array

Backtrace:
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:96:in `block in _specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `_specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:86:in `specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:96:in `block in _specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:94:in `_specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/abstract_sequence.rb:86:in `specificity'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:550:in `block (3 levels) in trim'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/1.9.1/set.rb:222:in `block in each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/1.9.1/set.rb:222:in `each_key'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/1.9.1/set.rb:222:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:549:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:549:in `block (2 levels) in trim'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:544:in `reject'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:544:in `block in trim'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `each_with_index'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:543:in `trim'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/sequence.rb:123:in `do_extend'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:71:in `block in do_extend'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:70:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/selector/comma_sequence.rb:70:in `do_extend'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/visitors/extend.rb:15:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/engine.rb:268:in `render'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/bin/compass:23:in `load'
/Users/Pigsy/.rbenv/versions/1.9.3-p547/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: undefined method `specificity' for [:not(.button)]:Array"; }
