[submodule "_submodules/jquery.bhwordmark.js"]
	path = _submodules/jquery.bhwordmark.js
	url = https://github.com/ctorgalson/jquery.bhwordmark.js.git
[submodule "_submodules/jquery.fpplaintext.js"]
	path = _submodules/jquery.fpplaintext.js
	url = https://github.com/ctorgalson/jquery.fpplaintext.js.git
[submodule "_submodules/jquery.ajaxreveallinks.js"]
	path = _submodules/jquery.ajaxreveallinks.js
	url = https://github.com/ctorgalson/jquery.ajaxreveallinks.js.git
[submodule "_submodules/jquery.cookiesplease.js"]
	path = _submodules/jquery.cookiesplease.js
	url = https://github.com/ctorgalson/jquery.cookiesplease.js.git
