[submodule "_submodules/jquery.fpplaintext.js"]
	path = _submodules/jquery.fpplaintext.js
	url = git@github.com:ctorgalson/jquery.fpplaintext.js.git
[submodule "_submodules/jquery.bhwordmark.js"]
	path = _submodules/jquery.bhwordmark.js
	url = git@github.com:ctorgalson/jquery.bhwordmark.js.git
