
<form id="form1" name="form1" class="contactform" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://bedlamhotel.wufoo.com/forms/ztfazz1ao63a8/#public" data-abide>
  <div>
    <div class="row">
      <div class="large-6 columns">
        <label>
          Given name <small>required</small>
          <input id="Field8" name="Field8" type="text" tabindex="1" required>
          <small class="error">Given name is required.</small>
        </label>
      </div>          
      <div class="large-6 columns">
        <label for="Field9">
          Family name
          <input id="Field9" name="Field9" type="text" value="" tabindex="2">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>
          Email address <small>required</small>
          <input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required>
          <small class="error">Email is required.</small>
        </label>
      </div> 
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>
          Message <small>required</small>
          <textarea id="Field10" name="Field10" class="field textarea medium" spellcheck="true" rows="7" tabindex="4" onkeyup="" required></textarea>
          <small class="error">Message is required.</small>
        </label> 
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>
          <input id="Field12" name="Field12" type="checkbox" class="field checkbox" value="Please add me to your mailing list" tabindex="5" />
          Please add me to your mailing list
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns"> 
        <input id="saveForm" name="saveForm" class="button expand" type="submit" value="Send the message!">
      </div>
    </div>
    <div class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="3zydqDClslHN38TmeV1hXlhRB6t7qVZPlOTrQWvS8sQ=">
    </div>
  </div>
</form> 
