
    <footer>
      <div class="row">
        <div class="columns medium-3 push-9">
          <ul class="inline-list right footer-social">
            <li><a href="https://github.com/ctorgalson" title="Find me on github.com"><i class="fi-social-github icon"></i></a></li>
            <li><a href="https://twitter.com/bedlamhotel" title="Find me on twitter.com"><i class="fi-social-twitter icon"></i></a></li>
            <li><a href="#" title="Contact me!"
              data-reveal-id="recaptcha"><i class="fi-mail"></i></a></li>
          </ul>
        </div>
        <div class="columns medium-2 pull-3"> 
          {% include wordmark_common.html %}
        </div>
        <div class="columns medium-7 pull-3">
          <ul class="inline-list footer-menu">
            <li><a href="/blog">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div id="recaptcha" class="reveal-modal" data-reveal>
      <iframe
        src="http://www.google.com/recaptcha/mailhide/d?k\07501WkPK4FNxzWK7KJxbqN_OGQ\75\75\46c\75Pn57-TEKU3iogx5ijEjbOzDYIddlO9aZPYPjupdDVb4\075"></iframe>
      <a class="close-reveal-modal">&#215;</a>
    </div>
