
    <footer>
      <div class="row">
        <div class="columns medium-3 push-9">
          <ul class="inline-list right footer-social">
            <li><a href="https://github.com/ctorgalson" title="Find me on github.com"><i class="fi-social-github icon"></i></a></li>
            <li><a href="https://twitter.com/bedlamhotel" title="Find me on twitter.com"><i class="fi-social-twitter icon"></i></a></li>
            <li><a href="/contact.html" title="Contact me!"><i class="fi-mail"></i></a></li>
          </ul>
        </div>
        <div class="columns medium-3 pull-3"> 
          {% include wordmark_common.html %}
        </div>
        <div class="columns medium-6 pull-3">
          <ul class="inline-list footer-menu">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about.html">About</a></li> -->
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
