
    <link href="//fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Christopher Torgalson">
    <meta name="copyright" content="Christopher Torgalson "/>
    <link type="text/css" rel="stylesheet" href="/css/app.css"/>
    <script src="/js/modernizr.js"></script>
