
    <link href="//fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-precomposed.png">
    <meta name="description" content="Short articles on Drupal development and web app maintenance and general development.">
    <meta name="author" content="Christopher Torgalson">
    <meta name="copyright" content="Christopher Torgalson "/>
    <link type="text/css" rel="stylesheet" href="/css/app.css"/>
    <link type="text/css" rel="stylesheet" href="/css/solarized-dark.css"/>
    <script src="/js/modernizr.js"></script>
