
    <div class="fixed">
      <nav class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
          <li class="name">
            {% include wordmark_common.html %}
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </section>
      </nav>
    </div>
