<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.name }}</title>
{% include head_common.html %}
  </head>
  <body>
{% include nav_common.html %}
    <div class="wrapper">
      <div id="masthead">
        <div class="row">
          <div class="large-9 columns medium-9 push-3">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
      <div id="main-content">
{% include cookiealert_common.html %}
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer_common.html %}
    <div id="contact-modal" class="reveal-modal" data-reveal></div>
{% include script_common.html %}
  </body>
</html>
